apiVersion: apps/v1
kind: Deployment
metadata:
  name: mini
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mini
  template:
    metadata:
      labels:
        app: mini
    spec:
      containers:
        - name: mini
          image: ghcr.io/hokita/mini:main
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: MY_NAME
              value: Sakura
            - name: MY_AGE
              value: "5"
